#main {
    width: 500px;
    margin: 0 auto;
    font-size: 12px;
}
#main input{
    padding: 3px;
    border: 1px solid #ccc;
    font-family: inherit;
    width: 220px;
    margin-right: 10px;
    font-size: 12px;

}
#sum {
    font-size: 30px;
    color: red;
}